# Applying statistics to Capstone 1

Two models are investigated in this capstone project - one is linear regression using ordinary least squares, the other is a Poisson regression. Here we'll investigate the fit of these regressions to our dataset.

In [16]:
import pickle
import pandas as pd
import numpy as np

In [17]:
accident_reg_df = pd.read_csv('accident_reg_df.csv', index_col=0)
accident_reg_df.head()

,volume,date,accidents,00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,22709,0,17,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16322,0,21,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12008,0,10,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9937,0,7,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,11198,0,15,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
#look at both volume and accidents summed for each hour of the day. Divide by max to
# get faction max value so can see if have same general trend
summed_by_hour = merged_by_hour.groupby(['time']).sum()

#plt.scatter(summed_by_hour.volume, summed_by_hour.accidents)
plt.figure(figsize=(12,6))
plt.subplot(1,2,1)
plt.bar(summed_by_hour.index, summed_by_hour.volume/summed_by_hour.volume.max(), label='volume')
plt.bar(summed_by_hour.index, summed_by_hour.accidents/summed_by_hour.accidents.max(), alpha=0.8, \
        label='accidents')
plt.title('Fraction of max accidents and traffic volume')
plt.xlabel('hour')
plt.ylabel('fraction of maximum')
_ = plt.xticks(rotation=90)
plt.legend()
plt.subplot(1,2,2)
_ = plt.scatter(summed_by_hour.volume, summed_by_hour.accidents)
plt.title('Traffic accidents vs volume')
plt.xlabel('Volume')
plt.ylabel('Accidents')

NameError: name 'merged_by_hour' is not defined